

Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/


*.sln
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.opendb

.vs/
.idea/
.vscode/


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini



*.log
*.dmp


*.exe
*.app
*.apk
*.aab
*.ipa
*.pak


ShaderCompileWorker/
Engine/DerivedDataCache/


*.user
*.userprefs
*.suo


/Engine/

# *.uasset filter=lfs diff=lfs merge=lfs -text
# *.umap   filter=lfs diff=lfs merge=lfs -text